*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* github users */
h1 {
	text-align: center;
	padding: 40px 0;
	font-weight: 500;
}
.user-container {
	padding: 0;
	width: 97%;
	margin: 0 auto;
	display: grid;
	row-gap: 2%;
	column-gap: 1%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}
.user-list {
  list-style-type: none;
	box-shadow: 2px 3px 10px lightgray;
	border-radius: 6px;
	padding: 8px;
}
.user-list:hover img, .user-list:hover .user-container--info-container{
  transform: scale(1.07);
  transition: transform 0.3s;
}
.user-list a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  gap: 3%;
	font-size: 14px;
  text-decoration: none;
}
.user-list img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.user-container--info-container {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.user-info--name {
	font-size: 17px;
	margin-bottom: 4px;
}
.user-info--profile {
	color: black;
	font-size: 14px;
  text-decoration: underline;
	font-style: oblique;
}
